.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #eaeaea;
  padding: 10px;
}

.move-right {
  margin-left: auto;
  margin-right: 1rem;
}